<div class="col-md-12">
  <ul class="stepper stepper-horizontal">
    <li [class]="getStatus(1)">
      <a>
        <span class="circle">1</span>
        <span class="label">Lettuce</span>
      </a>
    </li>

    <li [class]="getStatus(2)">
      <a>
        <span class="circle">2</span>
        <span class="label">Veggies</span>
      </a>
    </li>

    <li [class]="getStatus(3)">
      <a>
        <span class="circle">3</span>
        <span class="label">Toppings</span>
      </a>
    </li>

    <li [class]="getStatus(4)">
      <a>
        <span class="circle">4</span>
        <span class="label">Salad</span>
      </a>
    </li>
  </ul>
</div>
